{% extends "base.html" %}
{% block content %}

<h2>FAQs</h2>

<hr>

<div class="review-section">

<div class="review-container">



<div class="review-bottom-container">

    <div class="review-box">

        <div class="faq-question">
            <strong>WHO IS HUNT FOR HABIT ONLINE COACHING FOR?</strong>
        </div>     

        <br>

        <div class="faq-answer">
        I work with anyone who is over the age of 18. 
        I can help start your fitness journey from 
        scratch or give that extra push for people 
        who already have experience.
        </div>
    </div>


    <div class="review-box">

        <div class="faq-question">
            <strong>WHAT WILL WE TALK ABOUT DURING MY FREE CONSULTATION?</strong>
        </div>     

        <br>

        <div class="faq-answer">
        If you are curious about online coaching and want to chat with me 
        directly, you can book a free consultation. You can ask me anything! 
        I want to educate you about online coaching and ensure you know 
        exactly what the process is before we start. It is also crucial 
        that we talk about… YOU! If you decide you want to hire me as 
        your personal coach, I want to know about your fitness experiences, 
        your goals, eating habits and your current routines. This way I 
        can begin to build a personalised programme for you and give you 
        tailored support.
        </div>
    </div>


    <div class="review-box">

        <div class="faq-question">
            <strong>DOES MY FREE CONSULTATION TIE ME IN TO ANYTHING?</strong>
        </div>     

        <br>

        <div class="faq-answer">
        Absolutely not! No strings attached. I provide a free consultation 
        so you can meet me and get to know more about online coaching!
        </div>
    </div>



</div>

</div> 

<br>
<br>

 {%endblock%}   