{% extends "base.html" %}
{% block content %}

<h2>Home</h2>

<hr>        

<div class="bio-section">

    <div class="bio-container">

<div class="bio-text">
    My own experience with exercise began with weight loss; 
    before starting in the fitness industry I was very out 
    of shape and unhappy with my fitness levels in all areas. 
    I had an incredibly hard time with my weight and struggled 
    to come to terms with the way I looked and felt. With my 
    self-confidence and self-worth already low, the lack of 
    motivation to do anything about it lasted for years and it 
    affected a plethora of other areas in my life. I know just 
    how hard and frustrating it is to become self-driven and I 
    want to help people achieve what I know everyone can with 
    a little push! I understand that not everyone is as able 
    to exercise to the same ability and that everyone's barriers 
    and limits are different. People sometimes view themselves 
    as inferior to others because of personal barriers but this 
    is NOT true in any circumstance. I am very adaptable, empathetic 
    and aim to work alongside you however small or big the steps you 
    want to take. My job is to build up your confidence and to 
    journey with you at your pace.

    ​<br>
    <br>

<div class="bio-name">
    Michael

    <br>

    (L3 Qualified Personal Trainer)
</div>    
</div>    

<img id="bio-photo" src="images/Michael 6 (transparent).png">

    </div> 


</div>    


<br>
<br>


<div class="bio-section2">

    <div class="bio-container2">

<div class="bio-text2">
    My own experience with exercise began with weight loss; 
    before starting in the fitness industry I was very out 
    of shape and unhappy with my fitness levels in all areas. 
    I had an incredibly hard time with my weight and struggled 
    to come to terms with the way I looked and felt. With my 
    self-confidence and self-worth already low, the lack of 
    motivation to do anything about it lasted for years and it 
    affected a plethora of other areas in my life. I know just 
    how hard and frustrating it is to become self-driven and I 
    want to help people achieve what I know everyone can with 
    a little push! I understand that not everyone is as able 
    to exercise to the same ability and that everyone's barriers 
    and limits are different. People sometimes view themselves 
    as inferior to others because of personal barriers but this 
    is NOT true in any circumstance. I am very adaptable, empathetic 
    and aim to work alongside you however small or big the steps you 
    want to take. My job is to build up your confidence and to 
    journey with you at your pace.

    ​<br>
    <br>

<div class="bio-name2">
    Michael

    <br>

    (L3 Qualified Personal Trainer)
</div>    
</div>    

<img id="bio-photo" src="images/Michael 6 (transparent).png">

    </div> 


</div>    

    <br>
    <br>

    <div class="video-container">

       <video class="full-promo-video" src="static/videos/full-promo.mp4" controls>

        </video>

    </div> 

    <br>
    <br>

    <div class="review-section">

            <div class="review-container">

            <div class="review-top">

            <img id="google-logo" src="images/google-text-logo.svg">

            <div class="review-stars top-stars">

                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>

                    <p class="text-rating">5.0 rating</p>

                    <a href="https://g.page/r/CdFJg4bgiAyvEB0/review">
                    <div class="leave-a-review">
                    <p>Leave a review</p>
                    </div>   
                    </a>             

            </div>

        

            <div class="review-bottom-container">
    

            </div>

    </div> 

    <br>
    <br>


{% endblock %}


