{% extends "base.html" %}
{% block content %}

<h2>Home</h2>

<hr>        

<div class="bio-section">

    <div class="bio-container">

<div class="bio-text">
    My own experience with exercise began with weight loss; 
    before starting in the fitness industry I was very out 
    of shape and unhappy with my fitness levels in all areas. 
    I had an incredibly hard time with my weight and struggled 
    to come to terms with the way I looked and felt. With my 
    self-confidence and self-worth already low, the lack of 
    motivation to do anything about it lasted for years and it 
    affected a plethora of other areas in my life. I know just 
    how hard and frustrating it is to become self-driven and I 
    want to help people achieve what I know everyone can with 
    a little push! I understand that not everyone is as able 
    to exercise to the same ability and that everyone's barriers 
    and limits are different. People sometimes view themselves 
    as inferior to others because of personal barriers but this 
    is NOT true in any circumstance. I am very adaptable, empathetic 
    and aim to work alongside you however small or big the steps you 
    want to take. My job is to build up your confidence and to 
    journey with you at your pace.

    ​<br>
    <br>

<div class="bio-name">
    Michael

    <br>

    (L3 Qualified Personal Trainer)
</div>    
</div>    

<img id="bio-photo" src="static/images/Michael 6 (transparent).png">

    </div> 


</div>    


<br>
<br>

    <div class="video-container">

       <video class="full-promo-video" src="static/videos/full-promo.mp4" controls>

        </video>

    </div> 

    <br>
    <br>

    <div class="review-section">

            <div class="review-container">

            <div class="review-top">

            <img id="google-logo" src="static/images/google-text-logo.svg">

            <div class="review-stars top-stars">

                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>

                    <p class="text-rating">5.0 rating</p>

                    <a href="https://g.page/r/CdFJg4bgiAyvEB0/review">
                    <div class="leave-a-review">
                    <p>Leave a review</p>
                    </div>   
                    </a>             

            </div>

        

            <div class="review-bottom-container">
    
                <div class="review-box">

                    <div class="review-rating">
                                    <div class="review-stars">
                                    <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>     
                                
                           <br>
                           
                    
                           <div class="google-review-text">
                               Michael really has helped me change my habits and my life for the better. 
                               I've lost about 1 stone with him already. But that's not the important part. 
                               He's helped change my awful perspective on food. I no longer see it as a 
                               source of comfort, but a source of nourishment. Exercise is no longer a chore, 
                               but a joy.
                           </div>
                    
                           <br>
                    
                                   <div class="review-name-and-button">
                    
                                   <div class="review-name">
                                   <p>- Lukas</p>
                                   </div>
                    
                                   <div>
                                   <a class="link-to-reviews" href="https://www.google.co.uk/search?q=hunt+for+habit&sxsrf=AOaemvJgmLG9JTWV6xelfofSkm
                                       SFVcVImg%3A1640699035152&source=hp&ei=mxTLYbDtBoaHhbIPod-OgAk&iflsig=ALs-wAMAAAAAYcsiq7fqLVKzfRd4Izi3BDBJdLhzmy44&ved=0ahUK
                                       Ewjwpq-Z0Ib1AhWGQ0EAHaGvA5AQ4dUDCAk&uact=5&oq=hunt+for+habit&gs_lcp=Cgdnd3Mtd2l6EAMyBAgjECcyBAgjECcyBAgjECcyCwguEIAEEMcBEK8
                                       BMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeOgsIABCABBCxAxCDAToOCC4QgAQQsQMQxwEQowI6EQguEIAEELEDEIMBEM
                                       cBEKMCOgUIABCABDoLCC4QgAQQsQMQgwE6CAgAEIAEELEDOg4ILhCABBCxAxDHARDRAzoLCC4QgAQQxwEQowI6CAguEIAEELEDOgUILhCABFAAWPYJYPAKaABwAH
                                       gAgAGQAYgBpwuSAQM1LjmYAQCgAQE&sclient=gws-wiz#lrd=0x4877d99bfd5f6363:0xaf0c88e0868349d1,1,,,">
                                       
                                       <p>See full review on <i class="fa-brands fa-google"></i></p>
                    
                                   </a>
                                   </div>
                                    </div>
                       </div>
                    
                    
                    
                    
                       <div class="review-box">
                        
                    <div class="review-rating">
                                    <div class="review-stars">
                                    <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>     
                                
                           <br>
                           
                    
                           <div class="google-review-text">
                           I wanted to get fitter and healthier and never thought I 
                           would get this far in only 5 months. I have lost weight, have so much 
                           more energy, have got on top of long lasting injuries that stopped me 
                           from exercising in the past, and I feel so much better overall. 
                           Michael's advice and encouragement has always been spot on!
                           </div>
                           
                           <br>
                           
                           <div class="review-name-and-button">
                    
                    <div class="review-name">
                    <p>- Femke</p>
                    </div>
                    
                    <div>
                    <a class="link-to-reviews" href="https://www.google.co.uk/search?q=hunt+for+habit&sxsrf=AOaemvJgmLG9JTWV6xelfofSkm
                        SFVcVImg%3A1640699035152&source=hp&ei=mxTLYbDtBoaHhbIPod-OgAk&iflsig=ALs-wAMAAAAAYcsiq7fqLVKzfRd4Izi3BDBJdLhzmy44&ved=0ahUK
                        Ewjwpq-Z0Ib1AhWGQ0EAHaGvA5AQ4dUDCAk&uact=5&oq=hunt+for+habit&gs_lcp=Cgdnd3Mtd2l6EAMyBAgjECcyBAgjECcyBAgjECcyCwguEIAEEMcBEK8
                        BMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeOgsIABCABBCxAxCDAToOCC4QgAQQsQMQxwEQowI6EQguEIAEELEDEIMBEM
                        cBEKMCOgUIABCABDoLCC4QgAQQsQMQgwE6CAgAEIAEELEDOg4ILhCABBCxAxDHARDRAzoLCC4QgAQQxwEQowI6CAguEIAEELEDOgUILhCABFAAWPYJYPAKaABwAH
                        gAgAGQAYgBpwuSAQM1LjmYAQCgAQE&sclient=gws-wiz#lrd=0x4877d99bfd5f6363:0xaf0c88e0868349d1,1,,,">
                        
                        <p>See full review on <i class="fa-brands fa-google"></i></p>
                    
                    </a>
                    </div>
                     </div>
                    </div>
                    
                    
                       <div class="review-box">
                        
                    <div class="review-rating">
                                    <div class="review-stars">
                                    <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>   
                                
                           <br>
                             
                    
                           <div class="google-review-text">
                           I have now lost 2 and a half stone and have gone from being 
                           able to do 1 or 2 press-ups to being able to do 20 in a row. It has taken 
                           time and I've managed to fit it in round my full time job. I couldn't be 
                           happier or more great-full to Michael for his help and all his hard work! 
                           </div>
                           
                           <br>
                           
                           <div class="review-name-and-button">
                    
                    <div class="review-name">
                    <p>- Zachary</p>
                    </div>
                    
                    <div>
                    <a class="link-to-reviews" href="https://www.google.co.uk/search?q=hunt+for+habit&sxsrf=AOaemvJgmLG9JTWV6xelfofSkm
                        SFVcVImg%3A1640699035152&source=hp&ei=mxTLYbDtBoaHhbIPod-OgAk&iflsig=ALs-wAMAAAAAYcsiq7fqLVKzfRd4Izi3BDBJdLhzmy44&ved=0ahUK
                        Ewjwpq-Z0Ib1AhWGQ0EAHaGvA5AQ4dUDCAk&uact=5&oq=hunt+for+habit&gs_lcp=Cgdnd3Mtd2l6EAMyBAgjECcyBAgjECcyBAgjECcyCwguEIAEEMcBEK8
                        BMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeOgsIABCABBCxAxCDAToOCC4QgAQQsQMQxwEQowI6EQguEIAEELEDEIMBEM
                        cBEKMCOgUIABCABDoLCC4QgAQQsQMQgwE6CAgAEIAEELEDOg4ILhCABBCxAxDHARDRAzoLCC4QgAQQxwEQowI6CAguEIAEELEDOgUILhCABFAAWPYJYPAKaABwAH
                        gAgAGQAYgBpwuSAQM1LjmYAQCgAQE&sclient=gws-wiz#lrd=0x4877d99bfd5f6363:0xaf0c88e0868349d1,1,,,">
                        
                        <p>See full review on <i class="fa-brands fa-google"></i></p>
                    
                    </a>
                    </div>
                     </div>
                    </div>
                    
                    
                    
                       <div class="review-box">
                        
                    <div class="review-rating">
                                    <div class="review-stars">
                                    <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>     
                                
                           <br>
                           
                    
                           <div class="google-review-text">
                           Michael is an amazing personal trainer who is driven and dedicated at 
                           getting you results and pushes you hard but in the best possible way.... 
                           he's undoubtedly one of the best people I met in the gym. His work ethic 
                           and knowledge is mind blowing and on top of it all he's just an all-round top bloke too.
                           </div>
                           
                           <br>
                           
                           <div class="review-name-and-button">
                    
                    <div class="review-name">
                    <p>- Howard</p>
                    </div>
                    
                    <div>
                    <a class="link-to-reviews" href="https://www.google.co.uk/search?q=hunt+for+habit&sxsrf=AOaemvJgmLG9JTWV6xelfofSkm
                        SFVcVImg%3A1640699035152&source=hp&ei=mxTLYbDtBoaHhbIPod-OgAk&iflsig=ALs-wAMAAAAAYcsiq7fqLVKzfRd4Izi3BDBJdLhzmy44&ved=0ahUK
                        Ewjwpq-Z0Ib1AhWGQ0EAHaGvA5AQ4dUDCAk&uact=5&oq=hunt+for+habit&gs_lcp=Cgdnd3Mtd2l6EAMyBAgjECcyBAgjECcyBAgjECcyCwguEIAEEMcBEK8
                        BMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeOgsIABCABBCxAxCDAToOCC4QgAQQsQMQxwEQowI6EQguEIAEELEDEIMBEM
                        cBEKMCOgUIABCABDoLCC4QgAQQsQMQgwE6CAgAEIAEELEDOg4ILhCABBCxAxDHARDRAzoLCC4QgAQQxwEQowI6CAguEIAEELEDOgUILhCABFAAWPYJYPAKaABwAH
                        gAgAGQAYgBpwuSAQM1LjmYAQCgAQE&sclient=gws-wiz#lrd=0x4877d99bfd5f6363:0xaf0c88e0868349d1,1,,,">
                        
                        <p>See full review on <i class="fa-brands fa-google"></i></p>
                    
                    </a>
                    </div>
                     </div>
                    </div>
                    
                    
                       <div class="review-box">
                        
                    <div class="review-rating">
                                    <div class="review-stars">
                                    <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>     
                                
                           <br>
                           
                    
                           <div class="google-review-text">
                           Michael's HIIT sessions are brilliant! He keeps them varied and provides 
                           constant motivation throughout. He will even join in with the exercises 
                           to keep you going... You never feel like you are battling alone. I really 
                           enjoy his emphasis on focus and mind over matter as he really builds 
                           you up when you hit a wall.
                           </div>
                           
                           <br>
                           
                           <div class="review-name-and-button">
                    
                    <div class="review-name">
                    <p>- Holli</p>
                    </div>
                    
                    <div>
                    <a class="link-to-reviews" href="https://www.google.co.uk/search?q=hunt+for+habit&sxsrf=AOaemvJgmLG9JTWV6xelfofSkm
                        SFVcVImg%3A1640699035152&source=hp&ei=mxTLYbDtBoaHhbIPod-OgAk&iflsig=ALs-wAMAAAAAYcsiq7fqLVKzfRd4Izi3BDBJdLhzmy44&ved=0ahUK
                        Ewjwpq-Z0Ib1AhWGQ0EAHaGvA5AQ4dUDCAk&uact=5&oq=hunt+for+habit&gs_lcp=Cgdnd3Mtd2l6EAMyBAgjECcyBAgjECcyBAgjECcyCwguEIAEEMcBEK8
                        BMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeOgsIABCABBCxAxCDAToOCC4QgAQQsQMQxwEQowI6EQguEIAEELEDEIMBEM
                        cBEKMCOgUIABCABDoLCC4QgAQQsQMQgwE6CAgAEIAEELEDOg4ILhCABBCxAxDHARDRAzoLCC4QgAQQxwEQowI6CAguEIAEELEDOgUILhCABFAAWPYJYPAKaABwAH
                        gAgAGQAYgBpwuSAQM1LjmYAQCgAQE&sclient=gws-wiz#lrd=0x4877d99bfd5f6363:0xaf0c88e0868349d1,1,,,">
                        
                        <p>See full review on <i class="fa-brands fa-google"></i></p>
                    
                    </a>
                    </div>
                     </div>
                    </div>
                    
                       <div class="review-box">
                        
                    <div class="review-rating">
                                    <div class="review-stars">
                                    <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>     
                                
                           <br>
                           
                    
                           <div class="google-review-text">
                           Michael provided me with a very detailed plan and patiently advised me 
                           over video calls with exactly how to approach every exercise. Not to 
                           mention the weights he lent me over lockdown. I'm now a lot more confident with every 
                           exercise and as someone who wanted to bulk, I'm very happy to be over 
                           a stone heavier.
                           </div>
                           
                           <br>
                           
                           <div class="review-name-and-button">
                    
                    <div class="review-name">
                    <p>- Alan</p>
                    </div>
                    
                    <div>
                    <a class="link-to-reviews" href="https://www.google.co.uk/search?q=hunt+for+habit&sxsrf=AOaemvJgmLG9JTWV6xelfofSkm
                        SFVcVImg%3A1640699035152&source=hp&ei=mxTLYbDtBoaHhbIPod-OgAk&iflsig=ALs-wAMAAAAAYcsiq7fqLVKzfRd4Izi3BDBJdLhzmy44&ved=0ahUK
                        Ewjwpq-Z0Ib1AhWGQ0EAHaGvA5AQ4dUDCAk&uact=5&oq=hunt+for+habit&gs_lcp=Cgdnd3Mtd2l6EAMyBAgjECcyBAgjECcyBAgjECcyCwguEIAEEMcBEK8
                        BMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeOgsIABCABBCxAxCDAToOCC4QgAQQsQMQxwEQowI6EQguEIAEELEDEIMBEM
                        cBEKMCOgUIABCABDoLCC4QgAQQsQMQgwE6CAgAEIAEELEDOg4ILhCABBCxAxDHARDRAzoLCC4QgAQQxwEQowI6CAguEIAEELEDOgUILhCABFAAWPYJYPAKaABwAH
                        gAgAGQAYgBpwuSAQM1LjmYAQCgAQE&sclient=gws-wiz#lrd=0x4877d99bfd5f6363:0xaf0c88e0868349d1,1,,,">
                        
                        <p>See full review on <i class="fa-brands fa-google"></i></p>
                    
                    </a>
                    </div>
                     </div>
                    </div>

            </div>

    </div> 

    <br>
    <br>



{% endblock %}


