{% extends "base.html" %}
{% block content %}

<h2>Online Coaching</h2>

<hr>

<div class="info-container">
    <div class="info-box">

        <div class="info-text">
            The internet has become such a powerful tool that humans can utilise to progress remotely and incredibly quickly. 
            However, along with social media, it is also the main culprit for spreading misinformation and complicating the basic 
            principles of health and fitness. I could make a list of poor fitness advice, 'fat attack' machines and 'get fit quick' 
            programs to avoid; but I would be here all year. It is overwhelming, and completely understandable why people can't find the right answer. 
            Instead I will tell you with confidence that there are no tricks, no secrets and no complex magic formulas to reaching your goals. 
            The answer is simple. Consistency. It's taking small steps, consistently. The process of reaching a goal is an accumulation of little 
            wins and when you learn to consistently appreciate these little wins when they happen, you've already won. This is how you begin to 
            develop a healthier mindset.

            WHAT IS ONLINE COACHING?

            It's all well and good being told to develop a 'better mindset' and being told to 'change your ways'. However I know from personal experience 
            that actually implementing new and healthier habits is one of the most challenging mental mountains to climb. 
            That is where I believe coaching plays it's most important role. Having an objective eye overseeing your fitness journey, supporting your quest to apply new principles to your mindset. 
            A coach provides a tailored plan designed specifically for you which not only assists you towards your goals, it also alleviates a stressful search for an imperfect 'one size fits all' plan. A coach will then adapt your plan along your journey, ensuring you are constantly making progress. 
            With the planning out of the way, this allows you to focus on applying everything to your life and mind.
        </div>
    </div>  
</div>


{%endblock%}