{% extends "base.html" %}
{% block content %}

<div class="testimonial-box">

    <div class="testimonial-photo">
    
    
          <img src="static/images/alan-side.jpg">
    
    
    </div>
    
    <div class="testimonial-text">
        
    "I’m personally someone who finds gyms very intimidating places. 
    Especially with regards to weight training. 
    I’m someone who can very comfortably do cardio-based workouts, 
    but I had absolutely no prior knowledge of the correct form and techniques. 
    Michael provided me with a very detailed plan and patiently advised me over 
    video calls with exactly how to approach every exercise. Not to mention the 
    weights he lent me over lockdown. I couldn’t recommend someone more highly as a pt. 
    I’m now a lot more confident with every exercise and as someone who wanted to bulk, 
    I’m very happy to be over a stone heavier and still sticking to his fitness and 
    dietary plan. Big thanks to Michael" <br> <br> <div class="quote">- Alan</div>
    
    </div>
    
    
    </div>
    
    <div class="testimonial-box">
    
    <div class="testimonial-photo">
    <img src="static/images/femke-side.JPG">
    
    </div>
    
    <div class="testimonial-text">
        
    "Signing up for a plan with Michael has been the best thing 
    I’ve done this year! I wanted to get fitter and healthier and 
    never thought I would get this far in only 5 months. I have lost weight, 
    have so much more energy, have got on top of long lasting injuries 
    that stopped me from exercising in the past, and I feel so much better 
    overall. Michael’s advice and encouragement has always been spot on! I 
    can’t recommend him enough." <br> <br> <div class="quote">- Femke</div>
    
    </div>
    
    </div>
    
    
    <div class="testimonial-box">
    
    <div class="testimonial-photo">
    
            <img src="static/images/zach-side.JPG">
    
    </div>
    
    <div class="testimonial-text">
        
    "During the COVID lockdown I gained 6 and a half stone. 
    Weighed more than I ever have by a long way. I was feeling 
    terrible about myself and didn’t have the confidence or self 
    belief to just go to a gym. I reached out to Michael and we 
    organised a review. We went through everything about my situation 
    and how I got there and what my goals were. I then signed up for a 
    6 month plan. Every month I get a workout plan and we have a video 
    chat to talk about how things are going with my nutrition and the 
    workouts. And every week we have a catch-up about how things are going 
    and I take pictures so we can see my improvements. Outside of those 
    catch-ups Michael is always available if I need help or support. 
    I have now lost 2 and a half stone and have gone from being able to 
    do 1 or 2 press-ups to being able to do 20 in a row. 
    It has taken time and I’ve managed to fit it in round my full time 
    job. I couldn’t be happier or more great-full to Michael for his help 
    and all his hard work! I have no reservations about 
    recommending Hunt for Habit to anyone!" <br> <br> <div class="quote">- Zach</div>
    
    </div>
    
    </div>
    
    <div class="testimonial-box">
    
    <div class="testimonial-photo">
    
    
            <img src="static/images/michael-side.JPG">
    
    
    </div>
    
    <div class="testimonial-text">
        
    "My business is not about me. It is about my clients and what I can provide for them. 
    However I feel I should share my story to give you an insight into why I started coaching.
    The first photo (left) is a very significant photo in my life in 2015 (apologies for how
    low I decided to pull my shorts 😂). I took this photo after I swore to myself that I was
    going to do something about my weight and my health. I had no clue how to approach changing
    my lifestyle but I wanted it so badly. I cleaned up my nutrition and did as much cardio and
    HIIT as I could because I heard that it was the fastest way to ‘lose weight’. After about
    2-3 months I reduced my body fat to what you can see in the second photo. I was over the
    moon with my progress and for finally dedicating myself to make a change.
    After this I had a new lease of life, so much more confidence and a drive to continue.
    I began to learn more about proper training methods, appropriate nutrition and ways to
    sustain a healthy relationship with exercise and food. I never wanted to be “big” or be
    a bodybuilder, I just wanted to feel happy and confident in the way I looked. Not for
    anyone else but myself. The best way to learn about something is to get your teeth into
    it. So I went on a journey over 7-8 months to learn more about how to safely and naturally
    build muscle (and eventually, how to adapt the body’s muscle:fat composition). You can see
    my results from this stage of my journey in the fourth/last photo (swipe right).
    I then had a burning desire to help other people with their fitness, especially people
    who have a lot of other priorities to manage in their lives. Going through years of not
    understanding, battling with low self esteem and then finally unlocking a better mindset
    made me want to help other people in the way I helped myself. I qualified as a level
    three personal trainer in 2017 and began my coaching journey.
    
    </div>
    
    </div>
    
    
    <div class="testimonial-box">
    
    <div class="testimonial-photo">
    
    
            <img src="static/images/conor-front.jpg">
    
    
    </div>
    
    <div class="testimonial-text">
        
    This is my brother Conor, he is not a client however these pictures are 
    as significant to me as my own transformation and are highly relevant to 
    my coaching business.
    Conor and I began our fitness journey together and we worked hard to lose 
    the weight that we were so desperate to lose. We had no experience in 
    fitness but the sheer drive to do so. We supported each other all the 
    way and I can say hand on heart that I would not be in the position I am 
    today (in my general life as well as my fitness) without him and I know 
    he feels the same about me.
    We helped each other find the motivation within us to make life changing 
    decisions and execute them. These decisions created a foundation for us 
    both to grow in confidence, get fitter, become friends and eventually 
    grow as people.
    
    Building one another up in our world is vital and I wish to do just that 
    with my clients. I am a friend and I want to help you reach your goals, 
    whatever they may be. <br> <br> <div class="quote">- Michael</div>
    
    </div>
    
    </div>
    
    {% endblock %}
    
    